$charcoal: #383f51ff;
$lavender-web: #dddbf1ff;
$yinmn-blue: #3c4f76ff;
$dun: #d1beb0ff;
$rose-quartz: #ab9f9dff;

$bg-color: darken($charcoal, 15%);
$t-color: #e6e6e6;

* {
  color: $t-color;
}

html {
  background-color: $bg-color;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;

  font-size: 1.3rem;
  font-weight: bold;
  background-color: $yinmn-blue;

  ul {
    display: flex;
    gap: 2rem;

    appearance: none;
    list-style: none;
  }
}
