$charcoal: #383f51ff;
$lavender-web: #dddbf1ff;
$yinmn-blue: #3c4f76ff;
$dun: #d1beb0ff;
$rose-quartz: #ab9f9dff;

$bg-color: darken($charcoal, 15%);
$t-color: #e6e6e6;

* {
  color: $t-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $bg-color;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;

  font-size: 1.3rem;
  font-weight: bold;
  background-color: $yinmn-blue;

  ul {
    display: flex;
    gap: 2rem;

    appearance: none;
    list-style: none;
  }
}

main {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: min(100%, 800px);

  background-color: $charcoal;
  border-radius: 3rem;
  padding: 3rem;

  section {
    background-color: $yinmn-blue;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 3px 3px 11px 0px rgba($color: #000000, $alpha: 0.2);
  }
}
